.idea
cmake-build-debug/
.DS_Store

/build/
/CMakeFiles/
/CMakeCache.txt
/*.cmake
/*.txt
/*.dll
/*.so
/*.dylib

*.exe
*.out
*.a
*.lib

/.vscode/
/.idea/
/.vs/
*.suo
*.user
*.sln
*.opendb

*.o
*.obj
*.dSYM/
*.gcno
*.gcda
*.gcov

*.log

/packages/
/vendor/

